In [1]:
myname = "yusuf"

In [12]:
j  = list(range(1,11,1))

In [13]:
j

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
j[0::-1]

[1]

In [18]:
j[-1::1]

[10]

In [20]:
x = [y**2 for y in range(10)]

In [21]:
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
z =  [(y**2)-1 for y in range(10)]
z

[-1, 0, 3, 8, 15, 24, 35, 48, 63, 80]

In [25]:
 b  =  [(x,y) for x in range(6) for y in range(5,-1,-1) if x % 2  == 0 and y % 2  == 0]
    
b

[(0, 4), (0, 2), (0, 0), (2, 4), (2, 2), (2, 0), (4, 4), (4, 2), (4, 0)]

In [26]:
a = (1,2,3,4,5)

In [27]:
type(a)

tuple

In [28]:
s = {1,2,3,4}

In [29]:
type(s)

set

In [30]:
s

{1, 2, 3, 4}

In [32]:
a[0]

1

In [33]:
l = list(s)

In [34]:
l

[1, 2, 3, 4]

In [35]:
s.add(5)

In [36]:
s

{1, 2, 3, 4, 5}

In [37]:
s.update([x for x in range(1,10)])

In [38]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
s2 =  set(list(range(11,20)))