In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [36]:
#,usecols=('PRED','PETD','CLDD','DTRD','TMPD','TMND','TMXD','VAPD','WETD','FRSD')
df = pd.read_table("./Dataset/sample.dat", sep="\s+")

In [42]:
df.iloc[:,4]

16-JAN-1960  0  /  709:     24.4
15-FEB-1960  0  /  710:     26.7
16-MAR-1960  0  /  711:     26.7
16-APR-1960  0  /  712:     27.5
16-MAY-1960  0  /  713:     29.0
                            ...
16-AUG-2010  0  /  1316:    28.4
16-SEP-2010  0  /  1317:    27.7
16-OCT-2010  0  /  1318:    29.0
16-NOV-2010  0  /  1319:    27.9
16-DEC-2010  0  /  1320:    26.9
Name: TMPD, Length: 612, dtype: float64

In [33]:
??pd.read_table

In [43]:
df.shape

(612, 10)

In [32]:
df['PETD']

16-JAN-1960  0  /  709:     4.9
15-FEB-1960  0  /  710:     5.7
16-MAR-1960  0  /  711:     6.3
16-APR-1960  0  /  712:     6.8
16-MAY-1960  0  /  713:     6.5
                           ...
16-AUG-2010  0  /  1316:    4.4
16-SEP-2010  0  /  1317:    4.0
16-OCT-2010  0  /  1318:    4.5
16-NOV-2010  0  /  1319:    4.6
16-DEC-2010  0  /  1320:    4.9
Name: PETD, Length: 612, dtype: float64